!
frr version 7.2.1
frr defaults traditional
hostname WAN-SIM
log syslog informational
ip forwarding
no ipv6 forwarding
service integrated-vtysh-config
!
ip route 100.71.128.0/26 gre1
ip route 100.71.128.0/26 gre2
ip route 100.71.128.64/26 gre1
ip route 100.71.128.64/26 gre2
ip route 100.68.177.0/25 gre1
ip route 100.68.177.0/25 gre2
ip route 100.68.177.128/25 gre1
ip route 100.68.177.128/25 gre2
ip route 100.69.97.0/25 gre1
ip route 100.69.97.0/25 gre2
ip route 100.69.97.128/25 gre1
ip route 100.69.97.128/25 gre2
!
router bgp 65101
 bgp router-id 100.66.76.30
 bgp suppress-fib-pending
 bgp log-neighbor-changes
 no bgp ebgp-requires-policy
 no bgp default ipv4-unicast
 ----
 neighbor 10.0.0.9 remote-as 65001
 neighbor 10.0.0.9 description Border
 ----
 neighbor 192.168.10.1 remote-as 64539
 neighbor 192.168.10.1 description To_TOR1
 neighbor 192.168.10.3 remote-as 64539
 neighbor 192.168.10.3 description To_TOR2
 !
 address-family ipv4 unicast
  network 100.66.76.30/32
  redistribute static
  neighbor 10.0.0.9 activate
  neighbor 10.0.0.9 route-map rm-default-in in
  neighbor 192.168.10.1 activate
  neighbor 192.168.10.1 default-originate
  neighbor 192.168.10.1 route-map rm-in in
  neighbor 192.168.10.1 route-map rm-default-out out
  neighbor 192.168.10.3 activate
  neighbor 192.168.10.3 default-originate
  neighbor 192.168.10.3 route-map rm-in in
  neighbor 192.168.10.3 route-map rm-default-out out
 exit-address-family
!
ip prefix-list pl-default seq 10 permit 0.0.0.0/0
ip prefix-list pl-all seq 10 permit any
!
route-map rm-default-out permit 10
 match ip address prefix-list pl-default
exit
!
route-map rm-default-in permit 10
 match ip address prefix-list pl-default
exit
!
route-map rm-in deny 10
 match ip address prefix-list pl-all
exit
!
end