!
frr version 8.1
frr defaults traditional
hostname WANSIM-asrr1s45r0701
log syslog informational
no ipv6 forwarding
service integrated-vtysh-config
!
ip route 100.69.177.0/25 gre1
ip route 100.69.177.0/25 gre2
ip route 100.69.177.128/25 gre1
ip route 100.69.177.128/25 gre2
ip route 100.69.178.0/25 gre1
ip route 100.69.178.0/25 gre2
ip route 100.69.178.128/25 gre1
ip route 100.69.178.128/25 gre2
!
router bgp 64898
 bgp router-id 10.10.32.193
 bgp suppress-fib-pending
 bgp log-neighbor-changes
 no bgp ebgp-requires-policy
 no bgp default ipv4-unicast
 neighbor 3.1.1.1 remote-as 65242
 neighbor 3.1.1.1 description To_TOR1
 neighbor 3.1.1.1 ebgp-multihop 8
 neighbor 3.1.1.1 update-source gre1
 neighbor 3.1.1.3 remote-as 65242
 neighbor 3.1.1.3 description To_TOR2
 neighbor 3.1.1.3 ebgp-multihop 8
 neighbor 3.1.1.3 update-source gre2
 neighbor 10.10.37.2 remote-as 64817
 neighbor 10.10.37.2 description To_Uplink_TOR1
 neighbor 10.10.37.2 ebgp-multihop 8
 neighbor 10.10.37.2 update-source eth0
 neighbor 10.10.37.3 remote-as 64817
 neighbor 10.10.37.3 description To_Uplink_TOR2
 neighbor 10.10.37.3 ebgp-multihop 8
 neighbor 10.10.37.3 update-source eth0
 !
 address-family ipv4 unicast
  network 10.10.32.193/32
  redistribute static
  neighbor 3.1.1.1 activate
  neighbor 3.1.1.1 default-originate
  neighbor 3.1.1.1 route-map rm-in in
  neighbor 3.1.1.1 route-map rm-default-out out
  neighbor 3.1.1.3 activate
  neighbor 3.1.1.3 default-originate
  neighbor 3.1.1.3 route-map rm-in in
  neighbor 3.1.1.3 route-map rm-default-out out
  neighbor 10.10.37.2 activate
  neighbor 10.10.37.2 route-map rm-default-in in
  neighbor 10.10.37.3 activate
  neighbor 10.10.37.3 route-map rm-default-in in
 exit-address-family
exit
!
ip prefix-list pl-default seq 10 permit 0.0.0.0/0
ip prefix-list pl-all seq 10 permit any
!
route-map rm-default-out permit 10
 match ip address prefix-list pl-default
exit
!
route-map rm-default-in permit 10
 match ip address prefix-list pl-default
exit
!
route-map rm-in deny 10
 match ip address prefix-list pl-all
exit
!
end
