# TOR1
interface Tunnel1
  ip address 20.0.0.1/31
  tunnel source 100.73.125.2
  tunnel destination 11.11.11.11
  mtu 9100
  bandwidth 10000000
  no shutdown


# TOR2
interface Tunnel1
  ip address 20.0.0.3/31
  tunnel source 100.73.125.3
  tunnel destination 11.11.11.11
  mtu 9100
  bandwidth 10000000
  no shutdown



# WAN-SIM
sudo ip tunnel add gre1 mode gre remote 100.73.125.2 local 11.11.11.11 ttl 255
sudo ip addr add 20.0.0.0/31 dev gre1
sudo ip link set gre1 up
sudo ip link set gre1 mtu 9100

sudo ip tunnel add gre2 mode gre remote 100.73.125.3 local 11.11.11.11 ttl 255
sudo ip addr add 20.0.0.2/31 dev gre2
sudo ip link set gre2 up
sudo ip link set gre2 mtu 9100


sudo ip tunnel del gre1