! IP SLA Config
! track gre tunnel remote ip to update static route
ip sla 1
 icmp-echo 20.0.0.1 source-ip 20.0.0.2
 timeout 1000
 frequency 5
ip sla schedule 1 life forever start-time now
track 1 ip sla 1 reachability
ip route 0.0.0.0/0 Tunnel1 track 1

! Prefix-List
! Filter only default route and vSONiC loopback from Border 
ip prefix-list ExternalPrefix: 3 entries
   seq 10 permit 0.0.0.0/0 
   seq 20 permit 11.11.11.11/32 
   seq 50 deny 0.0.0.0/0 le 32 

! BGP Config
! Apply Prefix-List to accept only default route from Border
router bgp 65002
  router-id 2.2.2.2
  address-family ipv4 unicast
    network 100.71.125.0/26
    network 100.73.7.0/24
  neighbor 10.0.0.1
    remote-as 65001
    address-family ipv4 unicast
      prefix-list ExternalPrefix in
      maximum-prefix 12000 warning-only
      soft-reconfiguration inbound
  neighbor 100.73.100.2
    remote-as 65002
    address-family ipv4 unicast
      maximum-prefix 12000 warning-only
      soft-reconfiguration inbound