hostname ASZ1-TOR2

feature bgp
feature interface-vlan
feature hsrp
feature lacp
feature tunnel
feature vpc
feature lldp

ip route 0.0.0.0/0 Tunnel1
vlan 1,7-8,99,125

no cdp enable
ip prefix-list ExternalPrefix seq 10 permit 0.0.0.0/0 
ip prefix-list ExternalPrefix seq 20 permit 11.11.11.11/32 
ip prefix-list ExternalPrefix seq 50 deny 0.0.0.0/0 le 32 

interface Vlan1

interface Vlan7
  description Infrastructure
  no shutdown
  mtu 9216
  no ip redirects
  ip address 100.73.7.3/24
  no ipv6 redirects
  hsrp version 2
  hsrp 7 
    priority 140 forwarding-threshold lower 1 upper 140
    ip 100.73.7.1

interface Vlan8
  description Tenant
  no shutdown
  mtu 9216
  no ip redirects
  ip address 100.73.8.3/24
  no ipv6 redirects
  hsrp version 2
  hsrp 8 
    priority 140 forwarding-threshold lower 1 upper 140
    ip 100.73.8.1

interface Vlan125
  description BMCMgmt
  no shutdown
  mtu 9216
  no ip redirects
  ip address 100.73.125.3/26
  no ipv6 redirects
  hsrp version 2
  hsrp 125 
    priority 140 forwarding-threshold lower 1 upper 140
    ip 100.73.125.1

interface port-channel50
  description VPC:iBGPTOR1:PO50
  no switchport
  priority-flow-control mode on
  logging event port link-status
  mtu 9216
  ip address 100.73.100.2/30

interface port-channel101
  description VPC:MLAG_PEER:PO101
  switchport mode trunk
  switchport trunk native vlan 99
  priority-flow-control mode on
  spanning-tree port type network
  logging event port link-status
  mtu 9216

interface Tunnel1
  ip address 20.0.0.3/31
  tunnel source 100.73.125.3
  tunnel destination 11.11.11.11
  mtu 9100
  bandwidth 10000000

interface Ethernet1/1
  no switchport
  ip address 10.0.0.6/30
  no shutdown

interface Ethernet1/2
  switchport access vlan 7

interface Ethernet1/3
  description MLAG Heartbeat and iBGP TOR1-TOR2
  no cdp enable
  no switchport
  priority-flow-control mode on
  mtu 9216
  logging event port link-status
  channel-group 50
  no shutdown

interface Ethernet1/4
  description MLAG Heartbeat and iBGP TOR1-TOR2
  no cdp enable
  no switchport
  priority-flow-control mode on
  mtu 9216
  logging event port link-status
  channel-group 50
  no shutdown

interface Ethernet1/5
  description L2 MLAG_PEER
  no cdp enable
  switchport mode trunk
  switchport trunk native vlan 99
  priority-flow-control mode on
  mtu 9216
  logging event port link-status
  channel-group 101 mode active

interface Ethernet1/6
  description L2 MLAG_PEER
  no cdp enable
  switchport mode trunk
  switchport trunk native vlan 99
  priority-flow-control mode on
  mtu 9216
  logging event port link-status
  channel-group 101 mode active

interface Ethernet1/7
  switchport access vlan 7
  mtu 9216

interface loopback0
  ip address 3.3.3.3/32

cli alias name wr copy running-config startup-config

router bgp 65002
  router-id 3.3.3.3
  address-family ipv4 unicast
    network 3.3.3.3/32
    network 100.73.7.0/24
    network 100.73.8.0/24
    network 100.73.125.0/26
  neighbor 10.0.0.5
    remote-as 65001
    address-family ipv4 unicast
      prefix-list ExternalPrefix in
      maximum-prefix 12000 warning-only
      soft-reconfiguration inbound
  neighbor 100.73.100.1
    remote-as 65002
    address-family ipv4 unicast
      maximum-prefix 12000 warning-only
      soft-reconfiguration inbound
