feature bgp
feature interface-vlan
feature hsrp
feature lacp
feature tunnel
feature vpc
feature lldp
feature sla sender

ip sla 1
  icmp-echo 20.0.0.1 source-ip 20.0.0.3
    frequency 5
ip sla schedule 1 life forever start-time now
ip route 0.0.0.0/0 Tunnel1 track 1
track 1 ip sla 1 reachability

vlan 1,7-8,99,125

no cdp enable
ip prefix-list ExternalPrefix seq 10 permit 0.0.0.0/0 
ip prefix-list ExternalPrefix seq 20 permit 11.11.11.11/32 
ip prefix-list ExternalPrefix seq 50 deny 0.0.0.0/0 le 32 


interface Vlan125
  description BMC_Mgmt_125
  no shutdown
  mtu 9216
  no ip redirects
  ip address 100.71.85.123/26
  no ipv6 redirects
  hsrp version 2
  hsrp 125
    priority 150 forwarding-threshold lower 1 upper 150
    ip 100.71.85.65


interface Tunnel1
  ip address 192.168.30.1/30
  tunnel source 100.71.85.123
  tunnel destination 100.66.76.31
  mtu 9076
  bandwidth 10000000
  no shutdown


router bgp 65242
  router-id 100.71.85.21
  bestpath as-path multipath-relax
  log-neighbor-changes
  address-family ipv4 unicast
    network 100.69.176.0/24
    network 100.69.177.0/24
    network 100.69.178.0/25
    network 100.69.178.128/25
    network 100.69.179.0/28
    network 100.69.179.16/28
    network 100.69.179.32/28
    network 100.69.179.48/28
    network 100.69.179.64/28
    network 100.69.179.80/28
    network 100.69.179.96/28
    network 100.69.179.112/28
    network 100.69.179.128/28
    network 100.69.179.144/28
    network 100.69.179.160/28
    network 100.69.179.176/28
    network 100.69.179.192/28
    network 100.69.179.208/28
    network 100.69.179.224/28
    network 100.69.179.240/28
    network 100.71.85.0/30
    network 100.71.85.8/30
    network 100.71.85.16/30
    network 100.71.85.21/32
    network 100.71.85.64/26
    network 100.71.131.0/25
    maximum-paths 8
    maximum-paths ibgp 8
  neighbor 100.71.85.1
    remote-as 64846
    description TO_Border1
    address-family ipv4 unicast
      prefix-list ExternalPrefix in
      maximum-prefix 12000 warning-only
  neighbor 100.71.85.9
    remote-as 64846
    description TO_Border2
    address-family ipv4 unicast
      prefix-list ExternalPrefix in
      maximum-prefix 12000 warning-only
  neighbor 100.71.85.18
    remote-as 65242
    description TO_TOR2
    address-family ipv4 unicast
      maximum-prefix 12000 warning-only
  neighbor 100.71.131.0/25
    remote-as 65112
    description TO_MUX
    update-source loopback0
    ebgp-multihop 3
    address-family ipv4 unicast
      prefix-list DefaultRoute out
      maximum-prefix 12000 warning-only
