! BGP config - aggregate the loopback subnet
router bgp 64817
  template peer Rack01-CL01-SU01-64898
    remote-as 64898
    update-source Vlan2007
    ebgp-multihop 8
    address-family ipv4 unicast
      prefix-list DefaultRoute out
      maximum-prefix 12000 warning-only
  vrf MASD:DMZ:5000
    router-id 10.10.254.36
    bestpath as-path multipath-relax
    log-neighbor-changes
    address-family ipv4 unicast
      network 10.10.37.0/24
      network 10.10.254.36/32
      network 10.10.254.50/31
      network 10.10.254.54/31
      aggregate-address 10.10.32.192/26 summary-only
      maximum-paths 8
    neighbor 10.10.37.0/24
      inherit peer Rack01-CL01-SU01-64898
      description WAN-SIM