ip icmp-errors source-interface vlan125
vlan 1-2,6-7,99,125,201,301,401,501-516,711-712
vlan 2
  name UNUSED_VLAN
vlan 6
  name HNVPA_6
vlan 7
  name Infra_7
vlan 99
  name NativeVlan
vlan 125
  name BMC_Mgmt_125
vlan 201
  name Tenant_201
vlan 301
  name LogicalTenant_301
vlan 401
  name DhcpTenant_401
vlan 501
  name L3forward_501
vlan 502
  name L3forward_502
vlan 503
  name L3forward_503
vlan 504
  name L3forward_504
vlan 505
  name L3forward_505
vlan 506
  name L3forward_506
vlan 507
  name L3forward_507
vlan 508
  name L3forward_508
vlan 509
  name L3forward_509
vlan 510
  name L3forward_510
vlan 511
  name L3forward_511
vlan 512
  name L3forward_512
vlan 513
  name L3forward_513
vlan 514
  name L3forward_514
vlan 515
  name L3forward_515
vlan 516
  name L3forward_516
vlan 711
  name Storage_711
vlan 712
  name Storage_712

no cdp enable
spanning-tree port type edge bpduguard default
spanning-tree mst 0-1 priority 8192
spanning-tree mst 2 priority 16384
spanning-tree mst configuration
  name AzureStack
  revision 1
  instance 1 vlan 1-1999
  instance 2 vlan 2000-4094
ip prefix-list DEFAULT-FROM-WANSIM seq 5 permit 0.0.0.0/0
ip prefix-list DefaultRoute seq 10 permit 0.0.0.0/0
ip prefix-list DefaultRoute seq 50 deny 0.0.0.0/0 le 32
ip prefix-list ExternalPrefix seq 10 permit 0.0.0.0/0
ip prefix-list ExternalPrefix seq 20 permit 100.66.76.31/32
ip prefix-list ExternalPrefix seq 21 permit 10.10.32.192/26
ip prefix-list ExternalPrefix seq 30 deny 0.0.0.0/0 le 32
ip prefix-list TO-BORDER seq 5 deny 0.0.0.0/0
ip prefix-list TO-BORDER seq 10 permit 0.0.0.0/0 le 32
route-map PREFER-WANSIM permit 10
  match ip address prefix-list DEFAULT-FROM-WANSIM
  set local-preference 200


router bgp 65242
  router-id 100.71.85.21
  bestpath as-path multipath-relax
  log-neighbor-changes
  address-family ipv4 unicast
    network 100.69.176.0/24
    network 100.69.177.0/24
    network 100.69.178.0/25
    network 100.69.178.128/25
    network 100.69.179.0/28
    network 100.69.179.16/28
    network 100.69.179.32/28
    network 100.69.179.48/28
    network 100.69.179.64/28
    network 100.69.179.80/28
    network 100.69.179.96/28
    network 100.69.179.112/28
    network 100.69.179.128/28
    network 100.69.179.144/28
    network 100.69.179.160/28
    network 100.69.179.176/28
    network 100.69.179.192/28
    network 100.69.179.208/28
    network 100.69.179.224/28
    network 100.69.179.240/28
    network 100.71.85.0/30
    network 100.71.85.8/30
    network 100.71.85.16/30
    network 100.71.85.21/32
    network 100.71.85.64/26
    network 100.71.131.0/25
    maximum-paths 8
    maximum-paths ibgp 8
  neighbor 3.1.1.0
    remote-as 64898
    description To_WANSIM
    update-source Tunnel1
    address-family ipv4 unicast
      route-map PREFER-WANSIM in
      maximum-prefix 12000 warning-only
  neighbor 100.71.85.1
    remote-as 64846
    description TO_Border1
    address-family ipv4 unicast
      prefix-list ExternalPrefix in
      prefix-list TO-BORDER out
      maximum-prefix 12000 warning-only
  neighbor 100.71.85.9
    remote-as 64846
    description TO_Border2
    address-family ipv4 unicast
      prefix-list ExternalPrefix in
      prefix-list TO-BORDER out
      maximum-prefix 12000 warning-only
  neighbor 100.71.85.18
    remote-as 65242
    description TO_TOR2
    address-family ipv4 unicast
      maximum-prefix 12000 warning-only
  neighbor 100.71.131.0/25
    remote-as 65112
    description TO_MUX
    update-source loopback0
    ebgp-multihop 3
    address-family ipv4 unicast
      prefix-list DefaultRoute out
      maximum-prefix 12000 warning-only
