[Unit]
Description=Telegraf Service

[Service]
Type=simple
ExecStart=/usr/bin/telegraf
Environment="INFLUX_TOKEN=api_key"

[Install]
WantedBy=multi-user.target
