!
vlan 2
   name Unused_Ports
!
vlan 6
   name HNV_PA
!
vlan 7
   name Management
!
vlan 99
   name Native
!
vlan 125
   name BMCMgmt
!
vlan 201
   name Tenant_1
!
vlan 202
   name Tenant_2
!
!
interface Loopback0
   description Loopback_Rack01/Tor1
   ip address 100.71.8.20/32
!
interface Management1
!
interface Tunnel1
   description TO-WANSIM
   mtu 8250
   ip address 2.1.1.1/31
   tunnel mode gre
   tunnel source 100.71.8.98
   tunnel destination 10.10.32.129
!
interface Vlan6
   description HNV_PA:100.71.128.0/25
   mtu 9214
   no autostate
   ip address 100.71.128.2/25
   ip virtual-router address 100.71.128.1
!
interface Vlan7
   description Management:100.68.176.0/24
   mtu 9214
   no autostate
   ip virtual-router address 100.68.176.1
!
interface Vlan125
   description BMCMgmt:100.71.8.98/26
   mtu 9214
   no autostate
   ip address 100.71.8.98/26
   ip virtual-router address 100.71.8.65
!
interface Vlan201
   description Tenant_1:100.68.177.0/24
   mtu 9214
   no autostate
   ip address 100.68.177.2/24
   ip virtual-router address 100.68.177.1
!
interface Vlan202
   description Tenant_2:100.69.97.0/24
   mtu 9214
   no autostate
   ip address 100.69.97.2/24
   ip virtual-router address 100.69.97.1
!
ip routing
!
ip prefix-list DEFAULT-FROM-WANSIM seq 10 permit 0.0.0.0/0
ip prefix-list FROM-BORDER seq 10 permit 0.0.0.0/0
ip prefix-list FROM-BORDER seq 20 permit 10.10.32.128/26
ip prefix-list FROM-BORDER seq 30 deny 0.0.0.0/0 le 32
ip prefix-list TO-BORDER seq 10 deny 0.0.0.0/0
ip prefix-list TO-BORDER seq 30 permit 0.0.0.0/0 le 32
ip prefix-list TO-WANSIM seq 10 deny 0.0.0.0/0 le 32
!
route-map PREFER-WANSIM permit 10
   match ip address prefix-list DEFAULT-FROM-WANSIM
   set local-preference 200
!
route-map TO-WANSIM permit 10
   match ip address prefix-list TO-WANSIM
!
router bgp 64539
   router-id 100.71.8.20
   maximum-paths 8 ecmp 8
   bgp listen range 100.71.128.0/25 peer-group HNV-PA-01 remote-as 65003
   neighbor Border1-64844 peer group
   neighbor Border1-64844 remote-as 64844
   neighbor Border1-64844 maximum-routes 12000 warning-only
   neighbor Border2-64844 peer group
   neighbor Border2-64844 remote-as 64844
   neighbor Border2-64844 maximum-routes 12000 warning-only
   neighbor HNV-PA-01 peer group
   neighbor HNV-PA-01 remote-as 65003
   neighbor HNV-PA-01 update-source Loopback0
   neighbor HNV-PA-01 ebgp-multihop 3
   neighbor HNV-PA-01 maximum-routes 5000
   neighbor iBGPPeer-64539 peer group
   neighbor iBGPPeer-64539 remote-as 64539
   neighbor iBGPPeer-64539 maximum-routes 12000 warning-only
   neighbor 2.1.1.0 remote-as 64897
   neighbor 2.1.1.0 update-source Tunnel1
   neighbor 2.1.1.0 description TO-WANSIM
   neighbor 2.1.1.0 ebgp-multihop 8
   neighbor 2.1.1.0 maximum-routes 12000 warning-only
   neighbor 100.71.8.1 peer group Border1-64844
   neighbor 100.71.8.1 description LinkTo BGP:64844:Border1-64844:100.71.8.1
   neighbor 100.71.8.9 peer group Border2-64844
   neighbor 100.71.8.9 description LinkTo BGP:64844:Border2-64844:100.71.8.9
   neighbor 100.71.8.18 peer group iBGPPeer-64539
   neighbor 100.71.8.18 description LinkTo BGP:64539:iBGPPeer-64539:100.71.8.18
   network 100.68.176.0/24
   network 100.68.177.0/24
   network 100.68.178.0/25
   network 100.68.178.128/25
   network 100.68.179.0/28
   network 100.68.179.16/28
   network 100.68.179.32/28
   network 100.68.179.48/28
   network 100.68.179.64/28
   network 100.68.179.80/28
   network 100.68.179.96/28
   network 100.68.179.112/28
   network 100.68.179.128/28
   network 100.68.179.144/28
   network 100.68.179.160/28
   network 100.68.179.176/28
   network 100.68.179.192/28
   network 100.68.179.208/28
   network 100.68.179.224/28
   network 100.68.179.240/28
   network 100.69.97.0/24
   network 100.71.8.0/30
   network 100.71.8.8/30
   network 100.71.8.16/30
   network 100.71.8.20/32
   network 100.71.8.64/26
   network 100.71.128.0/25
   !
   address-family ipv4
      neighbor Border1-64844 prefix-list FROM-BORDER in
      neighbor Border1-64844 prefix-list TO-BORDER out
      neighbor Border2-64844 prefix-list FROM-BORDER in
      neighbor Border2-64844 prefix-list TO-BORDER out
      neighbor 2.1.1.0 route-map PREFER-WANSIM in
      neighbor 2.1.1.0 route-map TO-WANSIM out