# Configuration
!
frr version 8.1
frr defaults traditional
hostname asrr1n25r08ws01
log syslog informational
no ipv6 forwarding
service integrated-vtysh-config
!
ip route 100.68.176.0/25 gre1
ip route 100.68.176.0/25 gre2
ip route 100.68.176.128/25 gre1
ip route 100.68.176.128/25 gre2
!
router bgp 64897
 bgp router-id 10.10.32.129
 bgp suppress-fib-pending
 bgp log-neighbor-changes
 no bgp ebgp-requires-policy
 no bgp default ipv4-unicast
 neighbor 2.1.1.1 remote-as 64539
 neighbor 2.1.1.1 description To_TOR1
 neighbor 2.1.1.1 ebgp-multihop 8
 neighbor 2.1.1.1 update-source gre1
 neighbor 2.1.1.3 remote-as 64539
 neighbor 2.1.1.3 description To_TOR2
 neighbor 2.1.1.3 ebgp-multihop 8
 neighbor 2.1.1.3 update-source gre2
 neighbor 10.10.36.2 remote-as 64816
 neighbor 10.10.36.2 description To_Uplink_TOR1
 neighbor 10.10.36.2 ebgp-multihop 3
 neighbor 10.10.36.2 update-source eth0
 neighbor 10.10.36.3 remote-as 64816
 neighbor 10.10.36.3 description To_Uplink_TOR2
 neighbor 10.10.36.3 ebgp-multihop 3
 neighbor 10.10.36.3 update-source eth0
 !
 address-family ipv4 unicast
  network 10.10.32.129/32
  redistribute static
  neighbor 2.1.1.1 activate
  neighbor 2.1.1.1 default-originate
  neighbor 2.1.1.1 route-map rm-in in
  neighbor 2.1.1.1 route-map rm-default-out out
  neighbor 2.1.1.3 activate
  neighbor 2.1.1.3 default-originate
  neighbor 2.1.1.3 route-map rm-in in
  neighbor 2.1.1.3 route-map rm-default-out out
  neighbor 10.10.36.2 activate
  neighbor 10.10.36.2 route-map rm-default-in in
  neighbor 10.10.36.3 activate
  neighbor 10.10.36.3 route-map rm-default-in in
 exit-address-family
exit
!
ip prefix-list pl-default seq 10 permit 0.0.0.0/0
ip prefix-list pl-all seq 10 permit any
!
route-map rm-default-out permit 10
 match ip address prefix-list pl-default
exit
!
route-map rm-default-in permit 10
 match ip address prefix-list pl-default
exit
!
route-map rm-in deny 10
 match ip address prefix-list pl-all
exit
!
end


# Show Commands
## show ip bgp summary

IPv4 Unicast Summary (VRF default):
BGP router identifier 10.10.32.129, local AS number 64897 vrf-id 0
BGP table version 9
RIB entries 14, using 2576 bytes of memory
Peers 4, using 2892 KiB of memory

Neighbor        V         AS   MsgRcvd   MsgSent   TblVer  InQ OutQ  Up/Down State/PfxRcd   PfxSnt Desc
2.1.1.1         4      64539      1198      1219        0    0    0 19:38:48            0        1 To_TOR1
2.1.1.3         4      64539      1210      1234        0    0    0 19:39:45            0        1 To_TOR2
10.10.36.2      4      64816      1199      1201        0    0    0 19:54:48            1        7 To_Uplink_TOR1
10.10.36.3      4      64816      1199      1201        0    0    0 19:54:48            1        7 To_Uplink_TOR2

Total number of neighbors 4

## show ip bgp
BGP table version is 9, local router ID is 10.10.32.129, vrf id 0
Default local pref 100, local AS 64897
Status codes:  s suppressed, d damped, h history, * valid, > best, = multipath,
               i internal, r RIB-failure, S Stale, R Removed
Nexthop codes: @NNN nexthop's vrf id, < announce-nh-self
Origin codes:  i - IGP, e - EGP, ? - incomplete
RPKI validation codes: V valid, I invalid, N Not found

   Network          Next Hop            Metric LocPrf Weight Path
*= 0.0.0.0/0        10.10.36.2                             0 64816 64904 64800 ?
*>                  10.10.36.3                             0 64816 64904 64800 ?
*> 10.10.32.129/32  0.0.0.0                  0         32768 i
*> 100.68.177.0/25  0.0.0.0                  0         32768 ?
*> 100.68.177.128/25
                    0.0.0.0                  0         32768 ?
*> 100.69.97.0/25   0.0.0.0                  0         32768 ?
*> 100.69.97.128/25 0.0.0.0                  0         32768 ?
*> 100.71.128.0/26  0.0.0.0                  0         32768 ?
*> 100.71.128.64/26 0.0.0.0                  0         32768 ?

Displayed  8 routes and 9 total paths
