! BGP config - aggregate the loopback subnet
router bgp 64816
  template peer Rack01-CL01-SU01-64897
    remote-as 64897
    update-source Vlan2007
    ebgp-multihop 8
    address-family ipv4 unicast
      prefix-list DefaultRoute out
      maximum-prefix 12000 warning-only
  vrf MASD:DMZ:5000
    router-id 10.10.254.34
    bestpath as-path multipath-relax
    log-neighbor-changes
    address-family ipv4 unicast
      network 10.10.36.0/24
      network 10.10.254.34/32
      network 10.10.254.42/31
      network 10.10.254.46/31
      aggregate-address 10.10.32.128/26 summary-only
      maximum-paths 8
    neighbor 10.10.36.0/24
      inherit peer Rack01-CL01-SU01-64897
      description WAN-SIM
